<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<!--   main 홈페이지정보셋팅  -->
  <welcome-file-list>
    <welcome-file>view/main/index.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/view/*</url-pattern>
  		<include-prelude>/common/variable.jspf</include-prelude>
  		<include-coda>/common/footer.jspf</include-coda>
  	</jsp-property-group>
  </jsp-config>
</web-app>