<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- 웰컴파일 세팅 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 모든 do 확장자를 가진 url 요청이 들어오면 FrontController 서블릿으로 전달한다. -->
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- FrontController 서블릿 요청이 실제 연결될 클래스를 매핑하고, 시작 파라미터값을 넘겨준다. -->
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.survey.controller.FrontController</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/commandURI.properties</param-value>
		</init-param>
	</servlet>

</web-app>
   